<div class="cc-temperature-widget">

  <div class="cc-temperature-header">
    <img class="cc-temperature-icon" ng-src="images/therm-icon.png" alt="thermometer" />
    <span class="cc-temperature-title">Temp</span>

  </div>

  <div class="cc-temperature-body" ng-style="selectedLocation !== null &&
                {'background-image': 'url(images/'+ selectedLocation.image +')'}">
    <div ng-show="!isLoaded && !hasError">
      <i class="fa fa-refresh fa-2x fa-spin"></i>
    </div>
    <div  ng-show="isLoaded" class="cc-temperature-view">
      <div class="cc-temperature-river-name">
        {{ selectedLocation.name }}
      </div>
      <div class="cc-temperature-degrees">
        {{ selectedLocation.temperature }}º
      </div>
    </div>
    <div ng-if="hasError">
      <h4>Error Loading Widget</h4>
      <button class="btn btn-primary" ng-click="loadLocation()">Reload</button>
    </div>
  </div>
</div>