<div class="te-title-bar">
  <div class="row">
    <div class="te-logo-area col-sm-6">
      <img class="te-title-image" ng-src="{{ imagePath }}">

      <div class="te-title-area">
        <p class="te-logo-title">{{ title }}</p>

        <p class="te-logo-subtitle">{{ subtitle }}</p>
      </div>

      <div ng-if="vm.isMenuButtonVisible" ng-click="vm.menuButtonClicked()"
           class="te-collapsed-menu pull-right">
        <button type="button" class="btn te-nav-button">
          <i class="fa fa-bars"></i>
        </button>
      </div>

    </div>
    <div class="te-right-side-controls col-sm-6">
        <te-user-profile-small></te-user-profile-small>
    </div>
  </div>
</div>

<div class="te-menu-area"
     ng-show="vm.isMenuVisible"
     ng-class="{'te-menu-area-vertical': vm.isMenuVertical, 'te-menu-area-horizontal': !vm.isMenuVertical}">
  <te-user-profile></te-user-profile>
  <div ng-transclude=""></div>
</div>


<div ng-view="" class="te-main-view" ng-class="{'te-main-view-full-width': !vm.isMenuVertical || !vm.isMenuVisible}">

</div>